<!DOCTYPE HTML>
<html>
<head>
  <title>Cat Site Home</title>
  <link type="text/css" rel="stylesheet" href="style.css" media="screen"/>
  <link type="text/css" rel="stylesheet" href="assets/css/semantic.css"/>
</head>
<body class="ui container">
  <section class="ui segment">
    <nav class="ui inverted yellow stackable menu">
      <a class="ui left link item" href="index.html">HOME</a></li>
      <a class="ui left link item" href="pages/images.html">IMAGES</a></li>
      <a class="ui left link item" href="pages/videos.html">VIDEOS</a></li>
      <a class="ui left link item" href="pages/facts.html">FACTS</a></li>
      <a class="ui left link item" href="pages/vets.html">VETS</a></li>
      <a class="ui left link item" href="pages/mycat.html">MY CAT</a></li>
      <a class="ui left link item" href="pages/about.html">ABOUT</a></li>
      <a class="ui left link item" href="pages/stories.html">STORIES</a></li>
      <a class="ui left link item" href="pages/breeds.html">BREEDS</a></li>
      <a class="ui left link item" href="pages/misc.html">MISC</a></li>
      <img class="ui small image" id ="logo" src="../assets/images/CatSiteLogo.png" alt="Cat Logo"/>
    </nav>
  </section>
  <header>
    <!--Home Cat Image-->
    <div class="ui orange inverted segment">
      <img class="ui large centered image" src="assets/images/home/introcat.png" alt="Image of a cat"/>
    </div>
  </header>
  <!--Introduction to the site text-->
  <section class=" ui teal inverted padded segment">
    <h1 id="greeting">Welcome To This Cat Site</h1>
    <section id="introParagraph">
      <p>Here's you will find all the things that any cat lover would find both useful 
        and entertaining. This site is filled with purposeful information such as
        <a href="pages/vets.html">vet locations</a> in Waterford city and <a href="pages/facts.html">cat facts</a>.
        However there is also fun <a href="pages/images.html">cat images</a> and <a href="pages/videos.html">videos</a> 
        here that will keep you glued to the screen for hours. 
        For those who are curious about the site and it's creator, you will find some information
        in the <a href="pages/about.html">abouts page</a>. Enjoy your stay here!
      </p>
    </section>
    <!--Sample Images-->
    <section class=" ui yellow inverted segment">
    <div class="ui three column center aligned equal width grid">
      <div class="column">
        <a href="pages/images.html#funnyImages"><img class="ui small bordered rounded centered image" src="assets/images/funnyimages/1.jpg" alt="SAMPLE1"/></a>
        <p class="ui center aligned"> Funny Images </p>
      </div>
      <div class="column">
        <a href="pages/images.html#cuteImages"><img class="ui small bordered rounded centered image" src="assets/images/cuteimages/8.jpg" alt="SAMPLE2"/></a>
        <p class="ui center aligned"> Cute Images </p>
      </div>
      <div class="column">
        <a href="pages/images.html"><img class="ui small bordered centered rounded image" src="assets/images/funnyimages/6.jpg" alt="SAMPLE3"/></a>
        <p class="ui center aligned"> All Images </p>
      </div>
    </div>
    </section>
    <!--Footer Navigation-->
<%- partial("includes/_footer.ejs") %>
</body>
</html>