<!DOCTYPE HTML>
<html>
<head>
  <title>Cat Site Home</title>
  <link type="text/css" rel="stylesheet" href="../style.css" media="screen"/>
  <link type="text/css" rel="stylesheet" href="../assets/css/semantic.css"/>
</head>
<body class="ui container">
	<%- partial("../includes/_header.ejs") %>
	<%- yield %>
	<%- partial("../includes/_footer.ejs") %>
</body>
</html>