
  <section class="ui padded green inverted segment">
    <div class="ui grey segment">
     <h3>The Website</h3>
     <p>This website was made for a web development assignment by Oleksandr Kononov.
       All the images and videos (except for the logo which I made myself and my own pictures of my cat) are not owned by me and 
       where all taken from the interent. The images where copied from <a href="https://www.google.com/imghp">Google Images</a>.
       Like wise the videos all came from <a href="https://www.youtube.com">Youtube</a>.
        The facts and other information such as Vet Clinics in Waterford where googled as well.
        I used <a href="https://www.google.ie/maps">Google Maps</a> to find all the Vets and 
       obtained the <a href="facts.randomhistory.com/interesting-facts-about-cats.html">Facts here</a>.
      </p>
    </div>
    <div class="ui teal segment">
      <h3> About Me</h3>
      <p>My name is Oleksandr Kononov, ages 18,as far as I can remember I always had an obsession and fascination with cats.
        Throughout my life I own a total of three cats, the first one (female) was when I was just a baby (maybe thats why I have this obsession?)
        I can't even clearly remember her name I was so young.
        Fast forward to 2012 when I got my second cat Simba, I had him for about 2 years until he suddently got lost and never returned.
        Finally in 2014 I got Sally(female).
        That's pretty much all that's important about me (or at least I can't think of anything else to write about).
      </p>
    </div>
  </section>
