
  <!--Cute Images Section-->
  <section class="ui padded olive inverted segment" id="cuteImages">
  <h3> CUTE CAT IMAGES </h3>
  <div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
      <img class="ui centered  small image" src="../assets/images/cuteimages/1.jpg" alt="First Funny Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image" src="../assets/images/cuteimages/2.jpg" alt="Second Funny Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/cuteimages/3.jpg" alt="Third Funny Cat Image"/>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/cuteimages/4.jpg" alt="Fourth Funny Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/cuteimages/5.jpg" alt="Fifth Funny Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/cuteimages/6.jpg" alt="Sixth Funny Cute Cat Image"/>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/cuteimages/7.jpg" alt="Seventh Funny Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/cuteimages/8.jpg" alt="Eighth Funnt Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/cuteimages/9.jpg" alt="Ninth Funny Cat Image"/>
      </div>
    </div>
  </div>
  </section>
  <!--Funny Images Section-->
  <section class="ui padded purple inverted segment" id="funnyImages">
  <h3> FUNNY CAT IMAGES </h3>
  <div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
      <img class="ui centered small  image" src="../assets/images/funnyimages/1.jpg" alt="First Funny Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image" src="../assets/images/funnyimages/2.jpg" alt="Second Funny Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/funnyimages/3.jpg" alt="Third Funny Cat Image"/>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/funnyimages/4.jpg" alt="Fourth Funny Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/funnyimages/5.jpg" alt="Fifth Funny Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/funnyimages/6.jpg" alt="Sixth Funny Cute Cat Image"/>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/funnyimages/7.jpg" alt="Seventh Funny Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/funnyimages/8.jpg" alt="Eighth Funnt Cat Image"/>
      </div>
      <div class="ui segment">
      <img class="ui centered small image " src="../assets/images/funnyimages/9.jpg" alt="Ninth Funny Cat Image"/>
      </div>
    </div>
  </div>
  </section>
