
  <section class="ui padded teal inverted segment">
  <h2><u>Here Are Some Miscellaneous Things</u></h2>
    <div class="ui pink segment">
     <h3>Fun Websites To Check Out</h3>
     <p><a href="http://www.catster.com/">Caster</a> - A site filled with useful cat information!</p>
     <p><a href="http://stuffonmycat.com/">Stuff On My Cat</a> - Random stuff on cats, it says what it is.</p>
     <p><a href="http://cat-bounce.com/">Cat Bounce</a> - Just random bouncing cats.</p>
     <p><a href="http://procatinator.com/">Procatinator</a> - Cats and procrastination combined!</p>
     <p><a href="http://www.thecatsite.com/">The Cat Site</a> - I can't believe someone made one before me!.</p>
     <p><a href="http://www.infinitecat.com/">The Infinite Cat Project</a> - Cats looking at cats looking at cat looking at cats, and other cat pictures.</p>
     <p><a href="http://realgrumpycat.tumblr.com/">Grumpy Cat</a> - The famous internet Grumpy Cats blog.</p>
     <p><a href="http://www.lolcatbible.com/index.php?title=Genesis_1">The Cat Bible</a> - A bible about cats.</p>
    </div>
    <div class="ui red segment">
      <h3> Here's More Of My Cat</h3>
      <img class="ui big centered bordered rounded image" src="/assets/images/mycat/4.jpg" alt="My Cat Sleeping"/>
    </div>
  </section>
