
  <section class="ui orange inverted segment">
    <img class="ui large left floated image" src="../assets/images/mycat/1.jpg" alt="My Cat Sally"/>
    <div class="ui right floated segment">
      <div class="ui four column two row grid" id="myCat">
        <div class="row">
          <img class="ui small centered image" src="../assets/images/mycat/1.jpg"/>
          <img class="ui small centered image" src="../assets/images/mycat/2.jpg"/>
        </div>
        <div class="row">
          <img class="ui small centered image" src="../assets/images/mycat/3.jpg"/>
          <img class="ui small centered image" src="../assets/images/mycat/4.jpg"/>
        </div>
      </div>
    </div>
    <div class="ui left floated compact segment">
      <h3> This is my cat Sally </h3>
      <h4> Here are some facts about here! </h4>
      <ul>
        <li>Her birthday is on the 16th of August 2014.</li>
        <li>She despises water (like most cats) and would spend hours grooming after a bath.</li>
        <li>Like most cats she's likes to chase anything that moves (a laser pointer for example) and would even cry if 
        "the red dot" would disappear.</li>
        <li>One of her favorite things to do involves wresling with my hands.</li>
        <li>She would often cuddle next to me in my room (usually when I was busy with projects).</li>
        <li>Sally only eats Salmon and Chicken flavoured canned food (and would refuse to eat anything else as a substitute).</li>
        <li>Most of her toy are toy mice and rolling balls (which she would chase endlessly).</li>
        <li>She also likes to sleep on the window sills (probably because the sun keep her warm).</li>
      </ul>
    </div>
    <div class="ui right floated segment">
      <img class="ui medium image" src="../assets/images/mycat/5.jpg"/>
    </div>
    <img class="ui big image" src="../assets/images/mycat/last.jpg"/>
  </section>
