
  <!--Cat Videos Section-->
  <section class= "ui padded red inverted segment">
    <h3> YOUTUBE CAT VIDEO'S </h3>
    <div class="ui three column stackable grid">
      <div class="column">
        <div class="ui segment">
          <video width="345" height="250" controls>
          <source src="../assets/videos/1.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <video width="345" height="250" controls>
            <source src="../assets/videos/2.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <video width="345" height="250" controls>
          <source src="../assets/videos/3.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <video width="345" height="250" controls>
            <source src="../assets/videos/4.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <video width="345" height="250" controls>
            <source src="../assets/videos/5.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="column">
        <div class="ui segment">
          <video width="345" height="250" controls>
            <source src="../assets/videos/6.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </section>
    <!--Footer Navigation-->
