  <footer class="ui teal inverted segment">
      <ul class="ui equal width seven column center aligned grid">
        <li><a href="index.html">Home</a></li>
        <li><a href="images.html">Images</a></li>
        <li><a href="videos.html">Video</a></li>
        <li><a href="facts.html">Facts</a></li>
        <li><a href="vets.html">Vets</a></li>
        <li><a href="mycat.html">My Cat</a><li>
        <li><a href="about.html">About</a></li>
      </ul>
  </footer>