<section class="ui segment">
    <nav class="ui inverted yellow stackable menu">
      <a class="ui left link item" href="/index.html">HOME</a></li>
      <a class="ui left link item" href="/pages/images.html">IMAGES</a></li>
      <a class="ui left link item" href="/pages/videos.html">VIDEOS</a></li>
      <a class="ui left link item" href="/pages/facts.html">FACTS</a></li>
      <a class="ui left link item" href="/pages/vets.html">VETS</a></li>
      <a class="ui left link item" href="/pages/mycat.html">MY CAT</a></li>
      <a class="ui left link item" href="/pages/about.html">ABOUT</a></li>
      <a class="ui left link item" href="/pages/stories.html">STORIES</a></li>
      <a class="ui left link item" href="/pages/breeds.html">BREEDS</a></li>
      <a class="ui left link item" href="/pages/misc.html">MISC</a></li>
      <img class="ui small image" id ="logo" src="../assets/images/CatSiteLogo.png" alt="Cat Logo"/>
    </nav>
  </section>